.button {
  background-color: #efefef;
  border-radius: 15px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #121212;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
}

.action-btn {
  background-color: #f7941d !important;
  color: #fff;
}
.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;
  margin: 0 auto;
}
