body {
  background-color: #73a2fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: #efefef;
  border-radius: 15px;
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #121212;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  border: none;
}

.button:hover {
  opacity: 0.7;
  transition: ease-in-out 0.3s;
}

.container {
  background-color: #414143;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 28px 36px 39px 1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 28px 36px 39px 1px rgba(66, 68, 90, 1);
  box-shadow: 28px 36px 39px 1px rgba(66, 68, 90, 1);
}

.action-btn {
  background-color: #f7941d !important;
  color: #fff;
}
.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;
  gap: 5px;
  margin: 0 auto;
}

.display {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #313033;
}

.display h3 {
  color: #efefef;
  text-align: right;
  margin-top: 50px;
  font-size: 30px;
  margin-right: 10px;
}

.equals {
  color: #7e7e7e;
  font-size: 20px;
  margin-right: 10px;
}
